.melding-entry{
    mat-icon {
        color: black;
    }
    .crystals {
        background-color: #f0f0f0;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: .5rem;

        div {
            width: 230px;
        }
    }
}