<mat-card class="m-3">
    <mat-card-title>
        {{ command.name}}
        <mat-icon [class.favorite]="command.favorite" (click)="changeFavorite()">star</mat-icon>
    </mat-card-title>
    <mat-card-content>
        <div class="mt-2">
            <span><b>Characters: </b>{{ characters }}</span>
        </div>
        <div class="mt-2" *ngIf="command.melding?.length">
            <b>Melding:</b>
            <div *ngFor="let element of command.melding" class="melding-entry">
                <div class="d-flex justify-content-between">
                    <span>
                        <button mat-button color="primary" (click)="navigateToCommand(element.firstItem.id)">
                            {{element.firstItem.name}}
                        </button>
                        <span>+</span>
                        <button mat-button color="primary" (click)="navigateToCommand(element.secondItem.id)">
                            {{element.secondItem.name}}
                        </button>
                        <span>({{element.percent}}%)</span>
                    </span>
                    <mat-icon (click)="toggleDetails(element)">{{ element.showDetails? 'expand_less' : 'expand_more' }}
                    </mat-icon>
                </div>
                <div class="crystals" *ngIf="element.showDetails">
                    <div><b>Shimmering:</b> {{element.crystalEffect?.Shimmering}}</div>
                    <div><b>Fleeting:</b> {{element.crystalEffect?.Fleeting}}</div>
                    <div><b>Pulsing:</b> {{element.crystalEffect?.Pulsing}}</div>
                    <div><b>Wellspring:</b> {{element.crystalEffect?.Wellspring}}</div>
                    <div><b>Soothing:</b> {{element.crystalEffect?.Soothing}}</div>
                    <div><b>Hungry:</b> {{element.crystalEffect?.Hungry}}</div>
                    <div><b>Abounding:</b> {{element.crystalEffect?.Abounding}}</div>
                </div>
            </div>
        </div>
        <div class="mt-2" *ngIf="command.ingredientFor && command.ingredientFor.length">
            <div class="mb-2"><b>Ingredient for: </b></div>
            <div>
                <mat-chip-list aria-label="Ingredient for">
                    <mat-chip *ngFor="let cmd of command.ingredientFor" (click)="navigateToCommand(cmd.id)">{{cmd.name}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>

    </mat-card-content>
</mat-card>